<mat-card>
  <h1
    class="la-header"
    matCardTitle
  >
    Credits
  </h1>
  <mat-card-content>
    <section>
      <mat-list dense>
        <h2
          class="la-header"
          matSubheader
        >
          Subheader
        </h2>
        <mat-list-item>Description</mat-list-item>
        <mat-list-item>
          <h3
            matLine
            class="la-strong"
          >
            Sub-subheader
          </h3>
          <p matLine>Description</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h2
          class="la-header"
          matSubheader
        >
          Subheader
        </h2>
        <mat-list-item>
          <h3
            matLine
            class="la-strong"
          >
            Sub-subheader
          </h3>
          <p matLine>Description</p>
        </mat-list-item>
      </mat-list>
    </section>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-footer class="mat-caption">
    <p>© 2018 Copyright statement - Country</p>
  </mat-card-footer>
</mat-card>
